<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Pays disponibles</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Choisissez un pays</h1>

        <form method="GET" action="/weather">
            <label for="country">Pays :</label>
            <select id="country" name="country">
                {{range .Countries}}
                    <option value="{{.}}">{{.}}</option>
                {{end}}
            </select>

            <button type="submit">Valider</button>
        </form>
    </div>
</body>
</html>
